---
layout: default
navbar: topnav.html
---
            
            <!-- WRAPPER -->
			<div class="wrapper">
			
			
				<!-- InstanceBeginEditable name="Page-Content" -->
                
                {% include about.html %}
                
                {% include portfolio.html %}
                
                {% include contact.html %}
                
                <!-- PAGE : BLOG -->
				<section id="blog" class="page">
					<div class="content">
						
                        
                        
                        
                        <h2 class="section-title center"><span><i class="icon-book-open"></i>LATEST FROM THE BLOG</span></h2>
						
                        <!-- LATEST POSTS -->	
                        <div class="latest-posts media-grid" data-layout="fitRows">
                        
                        	
                            <!-- post -->
  {% for post in site.posts %}
                        	<article class="hentry media-cell">
                            	
                                <div class="media-box">
                                    <img src="{{ site.baseurl }}{{ post.image }}" alt="post-image">
                                    <div class="mask"></div>
                                    <a href="{{ site.baseurl }}{{ post.url }}"></a>
                                </div>
                                
                                <header class="media-cell-desc">
                                	<span title="{{ post.date | date: "%Y" }}" class="date"><span class="day">{{ post.date | date: "%B" }}</span>{{ post.date | date: "%e" }}</span>
                                	<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                                </header>
                                
                            </article>
  {% endfor %}
                            <!-- post -->
                            
                                                    	
                        </div>
                        <!-- LATEST POSTS -->	       
                             
                                     
                        <p class="launch"><a class="button primary" href="{{ site.baseurl }}/blog">SEE ALL POSTS</a></p>
                             
                               
						
					</div>
				</section>
                <!-- PAGE : BLOG -->
                
                {% include resume.html %}
                
            
            	<!-- InstanceEndEditable -->
            	
            	
                
			</div>
            <!-- WRAPPER -->