
                    
                    <!-- .about-author -->
                    <aside class="about-author">
                        
                        <h3>WRITTEN BY</h3>
                        
                        <!-- .author-bio --> 
                        <div class="author-bio">
                            
                            <!-- .author-img --> 
                            <div class="author-img">
                                <a href="#"><img alt="{{ site.name }}" src="{{ site.baseurl }}/images/site/author-1.jpg" class="avatar"></a>												
                            </div>
                            <!-- .author-img -->
                            
                            <!-- .author-info -->
                            <div class="author-info">
                                <h4 class="author-name">{{ site.name }}</h4>
                                <p>{{ site.bio }}</p>
                            </div>
                            <!-- .author-info -->
                            
                        </div>
                        <!-- .author-bio --> 
                        
                    </aside>
                    <!-- .about-author -->
                    
                    