---
layout: default
navbar: blognav.html
---
       
  
            <!-- WRAPPER -->
			<div class="wrapper">
            
            
            
				<!-- InstanceBeginEditable name="Page-Content" -->
                
                
                <!-- .blog-posts -->
                <div class="blog-posts readable-content">
                
                    
                    
  {% for post in site.posts %}
                            
                    <!-- .post -->										
                    <article class="post type-post {{ site.data.post_types[post.type] }} hentry">
                        
                        
                        <!-- .entry-meta --> 
                        <footer class="entry-meta">
                            <span class="post-format"></span>
                                	<span title="{{ post.date | date: "%Y" }}" class="date"><span class="day">{{ post.date | date: "%B" }}</span>{{ post.date | date: "%e" }}</span>
                            <!--<span class="entry-comment"><span class="count">3</span>comments</span>-->
                        </footer>
                        <!-- .entry-meta -->  
                        
                        {% if post.title %}
                        <!-- .entry-header -->
                        <header class="entry-header">
                            <h1 class="entry-title">
                                <a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{ post.title }}</a>
                            </h1>
                        </header>
                        <!-- .entry-header -->
                        {% endif %}
                        
                        {% if post.type == "post" %}
                        <!-- .featured-image --> 
                        <div class="featured-image">
                            <img src="{{ site.baseurl }}{{ post.image }}" alt="blog-image">
                        </div>
                        <!-- .featured-image --> 
                        {% endif %}
                        
                        <!-- .entry-content -->     
                        <div class="entry-content">
                        	{% if post.type == "link" %}
                        	<div class="link-content">
                                <a title="smashing magazine" href="{{ post.link_url }}" target="_blank">{{ post.link_text }}</a>
                            </div>
                            {% endif %}
                        	{% if post.type == "video" || post.type == "audio" %}
                            <!-- .media-wrap -->
                            <div class="media-wrap">
                                <iframe src="{{ post.media_url }}" width="500" height="281"></iframe>
                            </div>
                            <!-- .media-wrap -->
                            {% endif %}
                        	{% if post.type == "link" %}
                            <img src="{{ post.media_url }}" alt="image">
                            {% endif %}
                        	{% if post.type == "quote" %}
                            <blockquote>{{ post.quote_text }}
                                <cite>{{ post.quote_name }}</cite>
                            </blockquote>
                            {% endif %}
                            {% if post.type == "gallery" %}
                            <!-- .flexslider -->
                            <div class="flexslider" data-autoplay="false" data-interval="3000" data-animation="slide" data-direction="horizontal" data-animationSpeed="600"  data-pauseOnHover="true">
                                <!-- .slides -->
                                <ul class="slides">
                                    {% for gallery_item in post.gallery_items %}
                                    <!-- slide -->
                                    <li>
                                        <img src="{{ gallery_item.url }}" alt="slide">
                                        {% if gallery_item.title %}<p class="flex-title">{{ gallery_item.title }}</p>{% endif %}
                                    </li>
                                    <!-- slide -->
                                    {% endfor %}
                                    
                                </ul>
                                <!-- .slides -->
                            </div>
                            <!-- .flexslider -->
                            {% endif %}
                            
                            <p>
                            {% if post.excerpt %}{{ post.excerpt | textilize }}{% endif %}
                        	{% if post.type == "post" %}
                            <a href="{{ site.baseurl }}{{ post.url }}" class="more-link">Continue reading <span class="meta-nav">→</span></a></p>
                        	{% endif %}
                        </div>
                        <!-- .entry-content -->
                        
                        
                    </article>
                    <!-- .post -->	
  {% endfor %}
                      
                    
                    <!-- post nav -->
                    <nav class="navigation" role="navigation">
                        <div class="nav-previous"><a href="#"><span class="meta-nav">←</span> Older posts</a></div>
                        <div class="nav-next"><a href="#">Newer posts <span class="meta-nav">→</span></a></div>
                    </nav>
                    <!-- post nav -->
                    
                    
                    
                    <!-- post pagination -->
                    <nav class="post-pagination">
                        <!--<ul class="pagination">
                          <li class="pagination-first"><a href="#"> First </a></li>
                          <li class="pagination-prev"><a href="#" rel="prev"> « </a></li>
                          <li class="pagination-num"><a href="#"> 1 </a></li>
                          <li class="pagination-num current"><a href="#"> 2 </a></li>
                          <li class="pagination-num"><a href="#"> 3 </a></li>
                          <li class="pagination-next"><a href="#" rel="next"> » </a></li>
                          <li class="pagination-last"><a href="#"> Last </a> </li>
                        </ul>-->
                    </nav>
                    <!-- post pagination -->
                    
                    
                
                </div>
                <!-- .blog-posts -->
                
                
                <!-- InstanceEndEditable -->
            
            
                
			</div>
            <!-- WRAPPER -->